@media (min-width: 993px)
  .header
    &-left
      &__item
        &:hover
          color: $secondary
    &__button
      &:hover
        color: $light
        background-color: $secondary
        transition: .2s
  .dropdown
    &:hover &-content
      transition: .2s
      display: block
    &-content
      &__item
        &:hover
          color: $secondary
  .hero
    &__down
      &:hover
        border-color: $secondary
    &__button
      &:hover
        box-shadow: 0 0 5px $secondary
        transition: .2s
