@media (max-width: 1220px)
  .container
    max-width: 960px
  .hero
    padding-top: 20px
    min-height: 680px
    &__title
      font-size: 36px
    &__decription
      max-width: 410px
    &__bg
      width: 580px
      bottom: 90px
@media (max-width: 992px)
  .container
    max-width: 760px
    padding: 0 10px
  .hero
    padding-top: 6px
    min-height: 660px
    &__title
      font-size: 34px
      max-width: 100%
    &__small
      display: inline-block
      font-size: 34px
    &__decription
      max-width: 400px
      font-size: 16px
      margin-bottom: 45px
    &__bg
      width: 500px
@media (max-width: 768px)
  .container
    max-width: 560px
    padding: 0 18px
  .navbar
    &-wrapper
      display: none
    &__menu
      &-button
        display: flex
        width: 30px
        height: 20px
        border: none
        background-color: transparent
        align-items: center
        justify-content: space-between
        flex-direction: column
        cursor: pointer
        outline: none
    &--mobile
      &--fixed
        position: fixed
        top: 0
        left: 0
        right: 0
        background-color: $bg
        z-index: 100
    &__button
      margin-left: 0
    &__item
      margin-right: 0
      margin-bottom: 15px
    &-bottom
      &--visible
        display: flex
        flex-direction: column
        position: fixed
        left: 0
        right: 0
        top: 102px
        background-color: $light
        align-items: center
    &__ul
      flex-direction: column
  .hero
    margin-top: 102px
    &-text
      text-align: center
    &__decription
      max-width: 100%
    &__down
      position: absolute
      bottom: 50px
    &__bg
      width: 400px
      bottom: 0
  .menu
    &-button
      &__line
        width: 22px
        height: 2px
        background-color: $primary
        border-radius: 30px
@media (max-width: 576px)
  .container
    width: 100%
    padding: 0
  .header
    min-height: 930px
  .navbar
    padding-bottom: 45px
    padding-left: 20px
    padding-right: 20px
  .hero
    min-height: 770px
    &__title
      font-size: 30px
      line-height: 36px
      margin-bottom: 7px
      padding-left: 20px
      padding-right: 20px
    &__small
      font-size: 30px
      line-height: 36px
      padding-top: 0
    &__decription
      line-height: 28px
      margin-bottom: 18px
      padding-left: 20px
      padding-right: 20px
    &__button
      width: 220px
      height: 48px
      font-size: 16px
      line-height: 22px
      text-transform: capitalize
      margin-bottom: 49px
    &__down
      padding: 14px 15px
      bottom: 190px
      right: 50%
      transform: translateX(50%)
      width: 48px
      height: 48px
    &__bg
      width: 100%
      &--mobile
        &--hidden
          display: none
        &--visible
          display: block
          position: static
@media (min-width: 993px)
  .header
    &-left
      &__item
        &:hover
          color: $secondary
    &__button
      &:hover
        color: $light
        background-color: $secondary
        transition: .2s
  .dropdown
    &-content
      &__item
        &:hover
          color: $secondary
  .hero
    &__down
      &:hover
        border-color: $secondary
    &__button
      &:hover
        box-shadow: 0 0 5px $secondary
        transition: .2s
  .modal
    &__button
      &:hover
        box-shadow: 0 0 5px $secondary
        transition: .2s
