*
  box-sizing: border-box
body
  font-family: 'Open Sans', sans-serif
  color: $text-color
  outline: none
  max-width: 100%
  overflow-x: hidden
.container
  max-width: 1140px
  margin: auto
img
  max-width: 100%
button
  font-family: 'Open Sans', sans-serif
  cursor: pointer
  outline: none
.input
  background-color: #ffffff
  border-radius: 4px
  border: none
  padding: 0 23px
  height: 50px
  outline: none
.message
  background-color: #ffffff
  border-radius: 4px
  border: none
  padding: 18px 23px
  min-height: 123px
  resize: none
  outline: none
.error
  color: #E95432
.section
  &-title
    font-family: 'Open Sans', sans-serif
    font-weight: 600
    font-size: 14px
    line-height: 19px
    letter-spacing: 2px
    text-transform: uppercase
    color: $title-color
    margin: 0
.title
  font-family: Roboto
  font-weight: 700
  font-size: 36px
  line-height: 48px
  letter-spacing: 0.2px
  color: $primary
  margin: 0
.description
  font-weight: 400
  font-size: 18px
  line-height: 32px
  color: $text-color
  margin: 0
