.header
  background-color: $bg
  position: relative
  min-height: 843px
.navbar
  display: flex
  align-items: center
  justify-content: space-between
  padding: 26px 0px 53px 0
  &-bottom
    display: none
  &__menu
    &-button
      display: none
  &__button
    font-weight: 700
    font-size: 16px
    line-height: 22px
    color: $secondary
    background: none
    border: 2px solid $secondary
    padding: 11px 23px
    border-radius: 8px
    margin-left: 53px
  &-wrapper
    display: flex
    align-items: center
  &__ul
    display: flex
    align-items: center
    justify-content: space-between
    min-width: 410px
    padding: 0
    list-style: none
  &__item
    margin-right: 24px
    color: $primary
    &:last-child
      margin-right: 0
    &--mr
      &--14
        margin-right: 14px
      &--28
        margin-right: 28px
  &__link
    position: relative
    text-decoration: none
    color: inherit
    font-weight: 600
    font-size: 16px
    line-height: 22px
.dropdown
  padding: 0 5px
  position: relative
  &::after
    content: ''
    position: absolute
    display: block
    top: 50%
    left: 100%
    transform: translateY(-50%)
    background-image: url('../img/angle-down.png')
    background-repeat: no-repeat
    width: 9px
    height: 16px
    z-index: 99
    background-position: center
    background-size: 9px
  &-content
    display: none
    position: absolute
    background-color: $light
    min-width: 120px
    padding: 0
    list-style: none
    z-index: 1
    color: $primary
    &__item
      padding: 5px
    &__link
      color: inherit
      text-decoration: none
      font-weight: 600
      font-size: 16px
      line-height: 22px
.dropdown
  &:hover &-content
    transition: .2s
    display: block
