.partners
  padding-top: 100px
  padding-bottom: 103px
  &-wrapper
    display: flex
    align-items: center
    margin-bottom: 83px
  &__title
    font-family: Roboto
    font-weight: 700
    font-size: 36px
    line-height: 48px
    letter-spacing: 0.2px
    color: $primary
    max-width: 433px
    margin: 0 145px 0 0
  &__description
    font-family: Open Sans
    font-weight: 400
    font-size: 18px
    line-height: 32px
    color: $text-color
    max-width: 514px
    margin: 0
  &-list
    &__ul
      list-style: none
      display: flex
      align-items: center
      margin: 0
      padding: 0
    &__item
      &:nth-child(1)
        min-width: 225.15px
      &:nth-child(2)
        min-width: 215.15px
      &:nth-child(3)
        min-width: 216.15px
      &:nth-child(4)
        min-width: 215.15px
