.swiper
  &-container
    max-width: 1140px
    position: static
    &--mobile
      &--visible
        display: none
  &-wrapper
    padding-top: 15px
  &-slide
    width: 45%
    padding: 40px 40px 35px 40px
    border: 1px solid #E5EAF4
    border-radius: 8px
    height: auto
    &--pb
      &--32
        padding-bottom: 27px
    &--bsh
      &--yes
        box-shadow: 0px 15px 35px rgba(0, 0, 0, 0.05)
    &-wrapper
      display: flex
    &__avatar
      width: 58px
      height: 56px
      border-radius: 50%
      object-fit: cover
      margin-right: 20px
      margin-top: 3px
      &--mr
        &--18
          margin-right: 18px
    &__name
      display: block
      font-family: Roboto
      font-weight: bold
      font-size: 24px
      line-height: 32px
      letter-spacing: 0.2px
      color: $primary
      margin-bottom: 5px
    &__position
      font-size: 16px
      line-height: 28px
      font-weight: 400
    &__text
      font-size: 14px
      line-height: 24px
      font-weight: 400
      padding-top: 29px
      margin: 0
      &--lh
        &--26
          line-height: 26px
  &-button
    &-disabled
      opacity: 0
